.border-glow-card {
  --border-radius: 24px;
  position: relative;
  border-radius: var(--border-radius);
  display: grid;
  border: 1px solid rgb(255 255 255 / 10%);
  background: var(--card-bg, transparent);
  overflow: visible;
}

.border-glow-card--light {
  border-color: rgb(24 24 27 / 10%);
}

.border-glow-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
